@charset "utf-8";
*{font-family:Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;margin:0;padding:0;font-size:1em;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
body{width:100%;max-width:640px;min-width:320px;color:#666666;padding:0;margin:0 auto;}
main{display:block;position:relative;overflow:hidden!important;width: 100%;max-width: 640px;}
input,ol,ul,li,dl,dt,dd,input,h1,h2,h3,h4,h5,h6,.bxt,header{overflow:hidden;}
ol,ul,li,dl,dt,dd{list-style:none;}
main img{width:100%;border:none;display: block}
a{text-decoration:none;outline:none;color:#666;border:none;}
a, area, input, button, select {outline: none;background-image: url(about:blank);}
i,em{font-style: normal;}
.fl{float:left !important;}
.fr{float:right !important;}
.clearfix:after{content: "";display: block;clear: both;}
.cl{display:block;}
.h{display:none!important;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: #ccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
  color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
  color: #ccc;
}
/*去掉input框默认的黄色背景*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: rgb(0, 0, 0) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
  -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
/*基准字号*/
html{font-size:32px;}
@media screen and (max-width:330px){
  html{font-size:16px;}
}
@media screen and (min-width:331px) and (max-width:350px){
  html{font-size:17px;}
}
@media screen and (min-width:351px) and (max-width:370px){
  html{font-size:18px;}
}
@media screen and (min-width:371px) and (max-width:390px){
  html{font-size:19px;}
}
@media screen and (min-width:391px) and (max-width:410px){
  html{font-size:20px;}
}
@media screen and (min-width:411px) and (max-width:430px){
  html{font-size:21px;}
}
@media screen and (min-width:431px) and (max-width:450px){
  html{font-size:22px;}
}
@media screen and (min-width:451px) and (max-width:470px){
  html{font-size:23px;}
}
@media screen and (min-width:471px) and (max-width:490px){
  html{font-size:24px;}
}
@media screen and (min-width:491px) and (max-width:510px){
  html{font-size:25px;}
}
@media screen and (min-width:511px) and (max-width:530px){
  html{font-size:26px;}
}
@media screen and (min-width:531px) and (max-width:550px){
  html{font-size:27px;}
}
@media screen and (min-width:551px) and (max-width:570px){
  html{font-size:28px;}
}
@media screen and (min-width:571px) and (max-width:590px){
  html{font-size:29px;}
}
@media screen and (min-width:591px) and (max-width:610px){
  html{font-size:30px;}
}
@media screen and (min-width:611px) and (max-width:630px){
  html{font-size:31px;}
}

/*错误信息弹出框 lty begin*/
.W_gn_pop_message{
  display:block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position:absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color:rgba(0,0,0,0.7);
  color:#fff;
  font-size:14px;
  border-radius:8px;
  z-index: 99;
}
/*错误信息弹出框 lty end*/


/*底部按钮导航公共*/
main>.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background: #262626;
}
main>.footer a{
  width: 25%;
  float: left;
}
main>.footer a .img{
  width: 25px;
  margin: 6px auto 2px auto;
}
main>.footer a .text{
  text-align: center;
  font-size: 10px;
  color: #999999;
}
main>.footer a .on{
  color: #D1AF67;
}
/*底部按钮导航公共*/

/*底部按钮滑动到顶部*/
main>.to_top{
  width: 36px;
  height: 36px;
  position: fixed;
  right: 15px;
  bottom: 10%;
}
/*底部按钮滑动到顶部*/


/* 时尚   index 目录整个都调用这里的样式 */
/*样式一*/
main .fashion{
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  display: block;
}
main .fashion .title{
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
main .fashion .img{
  margin-top: 10px;
}
main .fashion .img li img{
  background: #D8D8D8;
  border-radius: 3px;
}
main .fashion .time{
  margin-top: 5px;
  font-size: 12px;
  color: #999999;
}
main .fashionStyle li{
  width: 32%;
  float: left;
  margin-right: 2%;
  margin-bottom: 8px;
}
main .fashionStyle .time{
  margin-top: 0;
}
main .fashionStyle li:nth-child(3n){
  margin-right: 0;
}
/*样式二*/
main .fashionTwo{
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  display: block;
}
main .fashionTwo .left{
  width: 60%;
  margin-right: 2%;
}
main .fashionTwo .left .title{
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
main .fashionTwo .left .time{
  margin-top: 5px;
  font-size: 12px;
  color: #999999;
}
main .fashionTwo .left .time span:nth-child(2){
  margin-right: 15px;
}
main .fashionTwo .right{
  width: 38%;
}
main .fashionTwo .right img{
  background: #D8D8D8;
  border-radius: 3px;
}

/*分享*/
.share-to{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 120;
}
.share-to>.share-bj{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.8);
  z-index: 121;
  animation:fadeIn .5s .2s ease both;
}
@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
.share-to>.share-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color: #FFFFFF;
  z-index: 122;
  animation:fadeInUpBig .5s .2s ease both;
}
@keyframes fadeInUpBig{
  0%{opacity:0;
    -webkit-transform:translateY(2000px)}
  100%{opacity:1;
    -webkit-transform:translateY(0)}
}

.share-to>.share-content .icon{
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.share-to>.share-content .icon ul{
  width: 85%;
  margin: 0 auto 30px;
}
.share-to>.share-content .icon ul li{
  width: 33.33%;
  display: block;
  text-align: center;
}
.share-to>.share-content .icon ul li a{
  display: block;
}
.share-to>.share-content .icon ul li a i{
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 9px;
  border-radius: 50%;
}
.share-to>.share-content .icon ul li a em{
  font-size: 12px;
  color: #444;
}
.share-to>.share-content .icon .share_button{
  width: 44px;
  height: 44px;
  margin: 0 auto;
  display: block;
}
/*分享*/





/*品牌标志*/
/*百达翡丽*/
.patek{background-position:0 0!important;}
.breguet{background-position:-6.56rem 0!important;}
/*积家*/
.lecoultre{background-position:-13.13rem 0!important;}
/*江诗丹顿*/
.vacheron{background-position:-19.69rem 0!important;}
.blancpain{background-position:-26.25rem 0!important;}
/*second line*/
.piaget{background-position:0 -3rem!important;}
/*朗格*/
.lange{background-position:-6.56rem -3rem!important;}
/*爱彼*/
.aibi{background-position:-13.13rem -3rem!important;}
.glashutte{background-position:-19.69rem -3rem!important;}
.franckmuller{background-position:-26.25rem -3rem!important;}
/*third line*/
.omega{background-position:0 -6rem!important;}
.van-der-bauwede{background-position:-6.56rem -6rem!important;}
.iwc{background-position:-13.13rem -6rem!important;}
.cys{background-position:-19.69rem -6rem!important;}
.armand-nicolet{background-position:-26.25rem -6rem!important;}
/*fourth line*/
.rolex{background-position:0 -9rem!important;}
.tudor{background-position:-6.56rem -9rem!important;}
.cartier{background-position:-13.13rem -9rem!important;}
.panerai{background-position:-19.69rem -9rem!important;}
/*豪雅*/
.heuer{background-position:-26.25rem -9rem!important;}
/*fifth line*/
/*艾美*/
.aimei{background-position:0 -12rem!important;}
/*名士*/
.baume{background-position:-6.56rem -12rem!important;}
.zenith{background-position:-13.13rem -12rem!important;}
.longines{background-position:-19.69rem -12rem!important;}
.michel-herbelin{background-position:-26.25rem -12rem!important;}
/*sixth line*/
.tissot{background-position:0 -15rem!important;}
.davosa{background-position:-6.56rem -15rem!important;}
.epos{background-position:-13.13rem -15rem!important;}
.marvin{background-position:-19.69rem -15rem!important;}
.citizen{background-position:-26.25rem -15rem!important;}
/*seventh line*/
.charmex{background-position:0 -18rem!important;}
.swiss-military{background-position:-6.56rem -18rem!important;}
.mido{background-position:-13.13rem -18rem!important;}
.movado{background-position:-19.69rem -18rem!important;}
.doxa{background-position:-26.25rem -18rem!important;}
/*eighth line*/
.titoni{background-position:0 -21rem!important;}
.ernest-borel{background-position:-6.56rem -21rem!important;}
.enicar{background-position:-13.13rem -21rem!important;}
.hamilton{background-position:-19.69rem -21rem!important;}
.muehle-glashutte{background-position:-26.25rem -21rem!important;}
/*nineth line*/
/*雷达*/
.rado{background-position:0 -24rem!important;}
.maserati{background-position:-6.56rem -24rem!important;}
.ck{background-position:-13.13rem -24rem!important;}
.jacques-lemans{background-position:-19.69rem -24rem!important;}
.guess{background-position:-26.25rem -24rem!important;}
/*tenth line*/
.seiko{background-position:0 -30rem!important;}
.casio{background-position:-6.56rem -30rem!important;}
.orient{background-position:-13.13rem -30rem!important;}
.arbutus{background-position:-19.69rem -30rem!important;}
.coach{background-position:-26.25rem -30rem!important;}
/*eleventh line*/
.fendi{background-position:0 -33rem!important;}
.police{background-position:-6.56rem -33rem!important;}
.time-force{background-position:-13.13rem -33rem!important;}
.hermes{background-position:-19.69rem -33rem!important;}
.bvlgari{background-position:-26.25rem -33rem!important;}
/*twelfth line*/
.gucci{background-position:0 -36rem!important;}
.hublot{background-position:-6.56rem -36rem!important;}
.breitling{background-position:-13.13rem -36rem!important;}
/*蕾蒙威*/
.rmw{background-position:-19.69rem -36rem!important;}
.armani{background-position:-26.25rem -36rem!important;}
/*thirteenth line*/
.marc-jacobs{background-position:0 -39rem!important;}
.diesel{background-position:-6.56rem -39rem!important;}
.dkny{background-position:-13.13rem -39rem!important;}
.burberry{background-position:-19.69rem -39rem!important;}
.eberhard{background-position:-26.25rem -39rem!important;}
/*fourteenth line*/
.bulova{background-position:0 -39rem!important;}
.paul-picot{background-position:-6.56rem -39rem!important;}
.habmann{background-position:-13.13rem -39rem!important;}
.manjaz{background-position:-19.69rem -39rem!important;}
.swatch{background-position:-26.25rem -39rem!important;}
/*fifteenth line*/
.girard-perregaux{background-position:0 -42rem!important;}
.ferragamo{background-position:-6.56rem -42rem!important;}
.celine{background-position:-13.13rem -42rem!important;}
.fendi{background-position:-19.69rem -42rem!important;}
/*法兰克穆勒*/
.franckmuller{background-position:-26.25rem -42rem!important;}
/*sixteenth line*/
.round-well{background-position:0 -45rem!important;}
.panerai{background-position:-6.56rem -45rem!important;}
.cecil-purnell{background-position:-13.13rem -45rem!important;}
.dg{background-position:-19.69rem -45rem!important;}
.concord{background-position:-26.25rem -45rem!important;}
/*seventeenth line*/
.issey-miyake{background-position:0 -48rem!important;}
.seculus{background-position:-6.56rem -48rem!important;}
/*品牌标志-小*/
/*百达翡丽*/
.logos .patek{background-position:0 0!important;}
.logos .breguet{background-position:-5.44rem 0!important;}
/*积家*/
.logos .lecoultre{background-position:-10.88rem 0!important;}
/*江诗丹顿*/
.logos .vacheron{background-position:-16.31rem 0!important;}
.logos .blancpain{background-position:-21.75rem 0!important;}
/*second line*/
.logos .piaget{background-position:0 -2.5rem!important;}
/*朗格*/
.logos .lange{background-position:-5.44rem -2.5rem!important;}
/*爱彼*/
.logos .aibi{background-position:-10.88rem -2.5rem!important;}
.logos .glashutte{background-position:-16.31rem -2.5rem!important;}
.logos .franckmuller{background-position:-21.75rem -2.5rem!important;}
/*third line*/
.logos .omega{background-position:0 -5rem!important;}
.logos .van-der-bauwede{background-position:-5.44rem -5rem!important;}
.logos .iwc{background-position:-10.88rem -5rem!important;}
.logos .cys{background-position:-16.31rem -5rem!important;}
.logos .armand-nicolet{background-position:-21.75rem -5rem!important;}
/*fourth line*/
.logos .rolex{background-position:0 -7.5rem!important;}
.logos .tudor{background-position:-5.44rem -7.5rem!important;}
.logos .cartier{background-position:-10.88rem -7.5rem!important;}
.logos .panerai{background-position:-16.31rem -7.5rem!important;}
/*豪雅*/
.logos .heuer{background-position:-21.75rem -7.5rem!important;}
/*fifth line*/
/*艾美*/
.logos .aimei{background-position:0 -10rem!important;}
/*名士*/
.logos .baume{background-position:-5.44rem -10rem!important;}
.logos .zenith{background-position:-10.88rem -10rem!important;}
.logos .longines{background-position:-16.31rem -10rem!important;}
.logos .michel-herbelin{background-position:-21.75rem -10rem!important;}
/*sixth line*/
.logos .tissot{background-position:0 -12.5rem!important;}
.logos .davosa{background-position:-5.44rem -12.5rem!important;}
.logos .epos{background-position:-10.88rem -12.5rem!important;}
.logos .marvin{background-position:-16.31rem -12.5rem!important;}
.logos .citizen{background-position:-21.75rem -12.5rem!important;}
/*seventh line*/
.logos .charmex{background-position:0 -15rem!important;}
.logos .swiss-military{background-position:-5.44rem -15rem!important;}
.logos .mido{background-position:-10.88rem -15rem!important;}
.logos .movado{background-position:-16.31rem -15rem!important;}
.logos .doxa{background-position:-21.75rem -15rem!important;}
/*eighth line*/
.logos .titoni{background-position:0 -17.5rem!important;}
.logos .ernest-borel{background-position:-5.44rem -17.5rem!important;}
.logos .enicar{background-position:-10.88rem -17.5rem!important;}
.logos .hamilton{background-position:-16.31rem -17.5rem!important;}
.logos .muehle-glashutte{background-position:-21.75rem -17.5rem!important;}
/*nineth line*/
/*雷达*/
.logos .rado{background-position:0 -20rem!important;}
.logos .maserati{background-position:-5.44rem -20rem!important;}
.logos .ck{background-position:-10.88rem -20rem!important;}
.logos .jacques-lemans{background-position:-16.31rem -20rem!important;}
.logos .guess{background-position:-21.75rem -20rem!important;}
/*tenth line*/
.logos .seiko{background-position:0 -22.5rem!important;}
.logos .casio{background-position:-5.44rem -22.5rem!important;}
.logos .orient{background-position:-10.88rem -22.5rem!important;}
.logos .arbutus{background-position:-16.31rem -22.5rem!important;}
.logos .coach{background-position:-21.75rem -22.5rem!important;}
/*eleventh line*/
.logos .fendi{background-position:0 -25rem!important;}
.logos .police{background-position:-5.44rem -25rem!important;}
.logos .time-force{background-position:-10.88rem -25rem!important;}
.logos .hermes{background-position:-16.31rem -25rem!important;}
.logos .bvlgari{background-position:-21.75rem -25rem!important;}
/*twelfth line*/
.logos .gucci{background-position:0 -27.5rem!important;}
.logos .hublot{background-position:-5.44rem -27.5rem!important;}
.logos .breitling{background-position:-10.88rem -27.5rem!important;}
/*蕾蒙威*/
.logos .rmw{background-position:-16.31rem -27.5rem!important;}
.logos .armani{background-position:-21.75rem -27.5rem!important;}
/*thirteenth line*/
.logos .marc-jacobs{background-position:0 -30rem!important;}
.logos .diesel{background-position:-5.44rem -30rem!important;}
.logos .dkny{background-position:-10.88rem -30rem!important;}
.logos .burberry{background-position:-16.31rem -30rem!important;}
.logos .eberhard{background-position:-21.75rem -30rem!important;}
/*fourteenth line*/
.logos .bulova{background-position:0 -32.5rem!important;}
.logos .paul-picot{background-position:-5.44rem -32.5rem!important;}
.logos .habmann{background-position:-10.88rem -32.5rem!important;}
.logos .manjaz{background-position:-16.31rem -32.5rem!important;}
.logos .swatch{background-position:-21.75rem -32.5rem!important;}
/*fifteenth line*/
.logos .girard-perregaux{background-position:0 -35rem!important;}
.logos .ferragamo{background-position:-5.44rem -35rem!important;}
.logos .celine{background-position:-10.88rem -35rem!important;}
.logos .fendi{background-position:-16.31rem -35rem!important;}
/*法兰克穆勒*/
.logos .franckmuller{background-position:-21.75rem -35rem!important;}
/*sixteenth line*/
.logos .round-well{background-position:0 -37.5rem!important;}
.logos .panerai{background-position:-5.44rem -37.5rem!important;}
.logos .cecil-purnell{background-position:-10.88rem -37.5rem!important;}
.logos .dg{background-position:-16.31rem -37.5rem!important;}
.logos .concord{background-position:-21.75rem -37.5rem!important;}
