<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/discovery.css" />
  <body>
  <main class="discovery-details-main">
    <div class="discovery discovery-details">

      <div class="title">
        <div class="title-a">发现</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
      </div>
      <!-------------- 内容 ------------>
      <div class="content">
        <div class="list">
          <div class="title clearfix">
            <div class="title-a fl">新品</div>
            <div class="title-b fl">3个小时前</div>
          </div>
          <div class="content">
            精工Prospex SSC673P潜水计时码表实拍；这是精工今年“黑色系列”的其中一款。腕表采用43.5mm的表
            壳，旋入式表冠以及全黑表壳，黑色铝合金表圈镶嵌在全黑表壳中，再配以橙边白色的时针。腕表功能：计时
            再配以橙边白色的时针腕表功能：计时
          </div>
          <div class="clearfix img img2">
            <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
            <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
            <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
          </div>
        </div>
      </div>
      <!-------------- 评论 ------------>
      <div class="comment">
        <div class="title">评论</div>
        <div class="content">
          <li class="clearfix">
            <div class="left fl"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt=""></div>
            <div class="right">
              <div class="name">
                <p class="name-a">小鲜肉</p>
                <p class="name-b">4小时前</p>
                <div class="fabulous">
                  <span class="ico"></span>
                  <span class="text">30</span>
                </div>
              </div>
              <div class="version">
                手表保养哪些地方，手表保养哪些地方，手表保养哪些地方，手表保养哪些地方...<span class="delete">删除</span>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="left fl"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt=""></div>
            <div class="right">
              <div class="name">
                <p class="name-a">小鲜肉</p>
                <p class="name-b">4小时前</p>
                <div class="fabulous">
                  <span class="ico"></span>
                  <span class="text">30</span>
                </div>
              </div>
              <div class="version">
                手表保养哪些地方，手表保养哪些地方，手表保养哪些地方，手表保养哪些地方...
              </div>
            </div>
          </li>
        </div>
        <div class="footer">我也是有底线的</div>
      </div>
      <!-------------- 评论输入框 ------------>
      <div class="comment-input clearfix">
        <div class="left fl">
          <input type="text">
        </div>
        <div class="right fl">
          <li class="fl fabulous-bottom">
            <div class="ico"></div>
            <div class="text">赞</div>
          </li>
          <li class="fl collection">
            <div class="ico"></div>
            <div class="text">收藏</div>
          </li>
          <li class="fl share">
            <div class="ico"><img src="../../images/article-details-share.png"></div>
            <div class="text">分享</div>
          </li>
        </div>
        <div class="rightButton fl h">发表评论</div>
      </div>

    </div>

    <!-------------- 分享 ------------>
    <div class="share-to h">
      <div class="share-bj"></div>
      <div class="share-content">
        <div class="icon">
          <ul class="clearfix">
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-sina.png"></i>
                <em>新浪微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-tencent.png"></i>
                <em>腾讯微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-qzone.png"></i>
                <em>QQ空间</em>
              </a>
            </li>
          </ul>
          <span class="share_button"><img src="../../images/share-delete.png"></span>
        </div>
      </div>
    </div>
    <!-------------- 分享 ------------>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/discovery"></script>
</html>
