 <!-------------- 底部按钮 ------------>
  <a href="/WBworld/view/index/index.html">
    <div class="img"><img src="../../images/index-home.png"></div>
    <div class="text on">首页</div>
  </a>
  <a href="/WBworld/view/discovery/discovery.html">
    <div class="img"><img src="../../images/index-discovery2.png"></div>
    <div class="text">发现</div>
  </a>
  <a href="/WBworld/view/choice-list/list.html">
    <div class="img"><img src="../../images/index-choice2.png"></div>
    <div class="text">选表</div>
  </a>
  <a href="/WBworld/view/member/index.html">
    <div class="img"><img src="../../images/index-member2.png"></div>
    <div class="text">我的</div>
  </a>

  	  

