 <!-------------- 底部按钮 ------------>
  <a href="/WBworld/view/index/index.html">
    <div class="img icon-index-home2"></div>
    <div class="text">首页</div>
  </a>
  <a href="/WBworld/view/discovery/discovery.html">
    <div class="img icon-index-discovery2"></div>
    <div class="text">发现</div>
  </a>
  <a href="/WBworld/view/choice-list/list.html">
    <div class="img icon-index-choice2"></div>
    <div class="text">选表</div>
  </a>
  <a href="/WBworld/view/member/index.html">
    <div class="img icon-index-member2"></div>
    <div class="text">我的</div>
  </a>

  	  

