 <!-------------- 头部 ------------>
 <div class="title">
  <div class="logo"><img src="../../images/index-logo.png" alt=""></div>
  <a class="search" href="../search/search.html"><img src="../../images/index-search.png" alt=""></a>
 </div>
 <!-------------- 导航 ------------>
 <div class="nav">
  <div class="swiper-container-nav">
   <div class="swiper-wrapper">
    <a class="swiper-slide on" href="index.html">推荐</a>
    <a class="swiper-slide" href="guide.html">购表指南</a>
    <a class="swiper-slide" href="evaluating.html">手表评测</a>
    <a class="swiper-slide" href="brand.html">品牌动态</a>
    <a class="swiper-slide" href="fashion.html">时尚穿搭</a>
    <a class="swiper-slide" href="dialogue.html">对话人物</a>
   </div>
  </div>
 </div>

  	  

