<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/swiper/3.4.2/swiper.css" />
  <link rel="stylesheet" href="../../css/goods.css" />
  <body>
  <main>
    <div class="goods">

      <div class="title">
        <div class="title-a">万表世界</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
        <a class="title-ico2"><img src="../../images/goods-share.png"></a>
      </div>
      <!-------------- 轮播 ------------>
      <div class="banner">
        <div class="swiper-container-banner">
          <div class="swiper-wrapper">
            <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
            <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
            <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
            <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
          </div>
        </div>
        <div class="banner-left"><img src="../../images/goods-left.png"></div>
        <div class="banner-right"><img src="../../images/goods-right.png"></div>
      </div>

      <div class="banner-page">
        <!-- Add Pagination -->
        <div class="pagination"></div>
        <div class="collection clearfix fabulous">
          <div class="ico fl"></div>
          <div class="text fr"><span class="num">2000</span>收藏</div>
        </div>
      </div>
      <div class="banner-title">
        <p>帝舵（TUDOR）-启承系列79733N-72063 </p>
        <p>参考价：<span>￥32,880</span></p>
      </div>
      <!-------------- 图赏 ------------>
      <div class="chart">
        <div class="title">图赏</div>
        <div class="content">
          <div class="swiper-container-chart">
            <div class="swiper-wrapper">
              <a class="swiper-slide"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <!-------------- 基本信息 ------------>
      <div class="information">
        <div class="title">基本信息</div>
        <div class="content">
          <div class="list">
            <div class="tag">参数</div>
            <div class="tag2">
              <p>型号：116400-GV-72400蓝盘</p>
              <p>系列：MILGAUSS</p>
              <p>机芯类型：机械</p>
              <p>使用人群：男表</p>
              <p>官方报价：63200</p>
            </div>
          </div>
          <div class="list">
            <div class="tag">参数</div>
            <div class="tag2">
              <p>型号：116400-GV-72400蓝盘</p>
              <p>系列：MILGAUSS</p>
              <p>机芯类型：机械</p>
              <p>使用人群：男表</p>
              <p>官方报价：63200</p>
            </div>
          </div>
          <div class="list">
            <div class="tag">参数</div>
            <div class="tag2">
              <p>型号：116400-GV-72400蓝盘</p>
              <p>系列：MILGAUSS</p>
              <p>机芯类型：机械</p>
              <p>使用人群：男表</p>
              <p>官方报价：63200</p>
            </div>
          </div>
        </div>
      </div>

      <!-------------- 轮播大图 ------------>
      <div class="popup">
        <div class="popup-banner">
          <div class="swiper-container-bannerBig">
            <div class="swiper-wrapper">
              <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
              <a class="swiper-slide"><img src="//image7.wbiao.co/shop/201511_16_16246615_99415.jpg" alt="" /></a>
            </div>
          </div>
          <div class="paginationBig"></div>
        </div>
      </div>

    </div>
    <!-------------- 分享 ------------>
    <div class="share-to h">
      <div class="share-bj"></div>
      <div class="share-content">
        <div class="icon">
          <ul class="clearfix">
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-sina.png"></i>
                <em>新浪微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-tencent.png"></i>
                <em>腾讯微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-qzone.png"></i>
                <em>QQ空间</em>
              </a>
            </li>
          </ul>
          <span class="share_button"><img src="../../images/share-delete.png"></span>
        </div>
      </div>
    </div>
    <!-------------- 分享 ------------>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/goods"></script>
</html>
