<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/list.css" />
  <body>
  <main class="list-all-main">
    <div class="list-all">
      <!-------------- 头部 ------------>
      <div class="title">
        <div class="title-a">欧米茄</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
        <div class="reset h">重置</div>
      </div>
      <!-------------- tabTitle ------------>
      <div class="tabTitle clearfix">
        <li>最新<span class="ico"></span></li>
        <li>价格<span class="ico"></span></li>
        <li>性别<span class="ico"></span></li>
        <li>生活方式<span class="ico"></span></li>
        <li>更多<span class="ico"></span></li>
      </div>
      <!-------------- tabContent------------>
      <div class="tabContent">
        <div class="list newest h">
          <li value="1">最新</li>
          <li value="2">价格低</li>
          <li value="3">价格高</li>
        </div>
        <div class="list style clearfix h">
          <li value="4">1-3千</li>
          <li value="5">3-5千</li>
          <li value="6">5千-1万</li>
          <li value="7">1万-5万</li>
          <li value="8">5万以上</li>
        </div>
        <div class="list style clearfix h">
        <li value="9">男</li>
        <li value="10">女</li>
        <li value="11">情侣</li>
        <li value="12">中性</li>
        </div>
        <div class="list style clearfix h">
          <li value="13">科技/智能</li>
          <li value="14">商务正装</li>
          <li value="15">时尚/潮流</li>
          <li value="16">休闲/运动</li>
          <li value="17">收藏/技趣</li>
        </div>
        <div class="list"></div>
      </div>
      <!-------------- 搜索选项------------>
      <div class="option h clearfix"></div>
      <!-------------- 搜索结果没内容------------>
      <div class="result-no-content h">
        <div class="img"><img src="../../images/search-no.png"></div>
        <div class="text">未找到符合条件的腕表<br>换个条件试试</div>
      </div>
      <!-------------- 搜索结果内容------------>
      <div class="result-content clearfix">
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
        <a>
          <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
          <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
          <div class="price">￥32,880</div>
        </a>
      </div>

      <!-------------- 更多条件------------>
      <div class="list-left h">
        <div class="bj"></div>
        <div class="left-content">
          <!-------------- 头部------------>
          <div class="title">
            <div class="delete" id="delete"><img src="../../images/list-delete.png"></div>
            <div class="text">更多条件</div>
          </div>
          <!-------------- 内容------------>
          <div class="iScroll_floor">
            <div class="scroll_wrap">
              <!-------------- 选择------------>
              <div class="choice clearfix"></div>
              <!-------------- 品牌------------>
              <div class="property-list">
                <!-------------- 品牌名称------------>
                <div class="category left-brand">
                  <div class="category_title">
                    <span class="category_name">品牌</span>
                    <span class="category_open" data-index="2">
                      <em>全部</em>
                      <i class="arrow"></i>
                    </span>
                  </div>
                  <div class="category_content">
                    <span value="18">天梭</span>
                    <span value="19">天梭2</span>
                    <span value="20">天梭3</span>
                    <span value="21">天梭4</span>
                    <span value="22">天梭5</span>
                    <span value="23">天梭6</span>
                  </div>
                </div>
                <!-------------- 系列名称------------>
                <div class="category left-series h">
                  <div class="category_title">
                    <span class="category_name">系列</span>
                    <span class="category_open" data-index="0">
                      <em>全部</em>
                      <i class="arrow"></i>
                    </span>
                  </div>
                  <div class="category_content">
                    <span value="26">系列</span>
                    <span value="27">系列2</span>
                    <span value="28">系列3</span>
                    <span value="29">系列4</span>
                  </div>
                </div>
              </div>
              <!-------------- 其他------------>
              <div class="property-list">

                <div class="category">
                  <div class="category_title">
                    <span class="category_name">最新</span>
                <span class="category_open" data-index="0">
                  <em>全部</em>
                  <i class="arrow"></i>
                </span>
                  </div>
                  <div class="category_content">
                    <span value="1">最新</span>
                    <span value="2">价格低</span>
                    <span value="3">价格高</span>
                  </div>
                </div>
                <div class="category">
                  <div class="category_title">
                    <span class="category_name">价格</span>
                <span class="category_open" data-index="0">
                  <em>全部</em>
                  <i class="arrow"></i>
                </span>
                  </div>
                  <div class="category_content">
                    <span value="4">1-3千</span>
                    <span value="5">3-5千</span>
                    <span value="6">5千-1万</span>
                    <span value="7">1万-5万</span>
                    <span value="8">5万以上</span>
                  </div>
                </div>
                <div class="category">
                  <div class="category_title">
                    <span class="category_name">性别</span>
                <span class="category_open" data-index="0">
                  <em>全部</em>
                  <i class="arrow"></i>
                </span>
                  </div>
                  <div class="category_content">
                    <span value="9">男</span>
                    <span value="10">女</span>
                    <span value="11">情侣</span>
                    <span value="12">中性</span>
                  </div>
                </div>
                <div class="category">
                  <div class="category_title">
                    <span class="category_name">生活方式</span>
                <span class="category_open" data-index="0">
                  <em>全部</em>
                  <i class="arrow"></i>
                </span>
                  </div>
                  <div class="category_content">
                    <span value="13">科技/智能</span>
                    <span value="14">商务正装</span>
                    <span value="15">时尚/潮流</span>
                    <span value="16">休闲/运动</span>
                    <span value="17">收藏/技趣</span>
                  </div>
                </div>
                <div class="category">
                  <div class="category_title">
                    <span class="category_name">表盘形状</span>
                <span class="category_open" data-index="0">
                  <em>全部</em>
                  <i class="arrow"></i>
                </span>
                  </div>
                  <div class="category_content">
                    <span value="30">圆形</span>
                    <span value="31">方形</span>
                    <span value="32">长方形</span>
                    <span value="33">酒桶形</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-------------- 底部------------>
          <div class="footer">
            <div class="footer_cancel">重置</div>
            <div class="footer_button">确定</div>
          </div>

        </div>

        <!-------------- 全部品牌------------>
        <div class="list-left-brand h">
          <!-------------- 头部------------>
          <div class="brand-title">
            <div class="delete"><img src="../../images/list-delete.png"></div>
            <div class="text">全部品牌</div>
          </div>
          <!-------------- 内容------------>
          <div class="brand-list">
            <div class="brand_right_abc">
              <span>A</span><span>B</span><span>C</span><span>D</span><span>E</span><span>F</span>
              <span>G</span><span>H</span><span>I</span><span>J</span><span>K</span><span>L</span>
              <span>M</span><span>N</span><span>O</span><span>P</span><span>Q</span><span>R</span>
              <span>S</span><span>T</span><span>U</span><span>V</span><span>W</span><span>X</span>
              <span>Y</span><span>Z</span>
            </div>
            <div class="iScroll_floor">
              <div class="scroll_wrap">

                <div class="brand_block">
                  <h2>A</h2>
                  <p class="brand-name" value="18">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="19">伯爵/Piaget<i class="icon"></i></p>
                  <p class="brand-name" value="20">百达翡丽/Patek Philippe<i class="icon"></i></p>
                </div>
                <div class="brand_block">
                  <h2>B</h2>
                  <p class="brand-name" value="21">赫柏林/Michel Herbelin<i class="icon"></i></p>
                  <p class="brand-name" value="22">伯爵/Piaget<i class="icon"></i></p>
                  <p class="brand-name" value="23">百达翡丽/Patek Philippe<i class="icon"></i></p>
                </div>
                <div class="brand_block">
                  <h2>C</h2>
                  <p class="brand-name" value="24">赫柏林/Michel Herbelin<i class="icon"></i></p>
                  <p class="brand-name" value="25">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="100">伯爵/Piaget<i class="icon"></i></p>
                </div>
                <div class="brand_block">
                  <h2>D</h2>
                  <p class="brand-name" value="101">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="102">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="103">爱宝时(EPOS)<i class="icon"></i></p>
                </div>
                <div class="brand_block">
                  <h2>E</h2>
                  <p class="brand-name" value="104">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="105">爱宝时(EPOS)<i class="icon"></i></p>
                  <p class="brand-name" value="106">爱宝时(EPOS)<i class="icon"></i></p>
                </div>

              </div>
            </div>
          </div>
          <!-------------- 底部------------>
          <div class="brand-footer">确定</div>
        </div>
      </div>

    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/list-all"></script>
</html>
