<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/index.css" />
  <body>
  <main class="big-Forum-main">
    <div class="big-Forum">

      <a href="javascript:window.history.back();" class="return"><img src="../../images/index-symbols.png"></a>
      <div class="title">
        <div class="title-a">大讲堂</div>
        <div class="title-b">专业、系统的手表知识和文化</div>
        <div class="title-c"></div>
      </div>
      <div class="content">
        <a href="big-Forum-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/6cdf89e7a256478fad272ec867dfd2ca.jpg">
            <div class="tag">第25堂课</div>
          </div>
          <div class="title">《表由那几部分组成?》</div>
        </a>
        <a href="big-Forum-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/6cdf89e7a256478fad272ec867dfd2ca.jpg">
            <div class="tag">第25堂课</div>
          </div>
          <div class="title">《表由那几部分组成?》</div>
        </a>
        <a href="big-Forum-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/6cdf89e7a256478fad272ec867dfd2ca.jpg">
            <div class="tag">第25堂课</div>
          </div>
          <div class="title">《表由那几部分组成?》</div>
        </a>
      </div>

    </div>
  </main>
  </body>
</html>
