<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/index.css" />
  <body>
  <main class="big-Forum-main">
    <div class="big-Forum comment">

      <a href="javascript:window.history.back();" class="return"><img src="../../images/index-symbols.png"></a>
      <div class="title">
        <div class="title-a">表友论</div>
        <div class="title-b">表友大神们的分享、见解、故事</div>
        <div class="title-c"></div>
      </div>
      <div class="content">
        <a href="comment-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/02fd19c1bd0848a5a54addbc48ae78ab.jpg">
            <div class="tag">第5期</div>
          </div>
          <div class="title">《怎么区分高仿手表和正品手表？》</div>
        </a>
        <a href="comment-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/02fd19c1bd0848a5a54addbc48ae78ab.jpg">
            <div class="tag">第5期</div>
          </div>
          <div class="title">《怎么区分高仿手表和正品手表？》</div>
        </a>
        <a href="comment-details.html">
          <div class="img">
            <img src="//image7.wbiao.co/mall/02fd19c1bd0848a5a54addbc48ae78ab.jpg">
            <div class="tag">第5期</div>
          </div>
          <div class="title">《怎么区分高仿手表和正品手表？》</div>
        </a>
      </div>

    </div>
  </main>
  </body>
</html>
