<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/index.css" />
  <body>
  <main class="article-details-main">
    <div class="article-details">

      <div class="title">
        <div class="title-a">表友论</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
      </div>
      <!-------------- 文章内容 ------------>
      <div class="article-title">
        <div class="tag">第2期</div>
        <div class="title">你会花20万，买一枚百达翡丽的“便宜货”吗吗吗吗？</div>
        <div class="author">
          <span>2017-12-04  09:30</span>
          <span>来源：万表世界</span>
          <span>作者：万表世界</span>
        </div>
      </div>
      <div class="article-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean e
        uismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et vive
        rra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et mag
        nis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra v
        ulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      </div>
      <!-------------- 文章分享 ------------>
      <div class="article-share">
        <div class="title">
          <div class="title-a">点赞分享</div>
        </div>
        <div class="list clearfix">
          <a class="fl fabulous-share" data-index="1">
            <div class="ico">
              <div class="img"></div>
            </div>
            <div class="text">赞</div>
          </a>
          <a class="fl" data-index="2">
            <div class="ico"><img src="../../images/article-details-2.png"></div>
            <div class="text">微信好友</div>
          </a>
          <a class="fl" data-index="3">
            <div class="ico"><img src="../../images/article-details-3.png"></div>
            <div class="text">朋友圈</div>
          </a>
          <a class="fl" data-index="4">
            <div class="ico"><img src="../../images/article-details-4.png"></div>
            <div class="text">新浪微博</div>
          </a>
        </div>
      </div>
      <!-------------- 相关推荐 ------------>
      <div class="recommend">
        <div class="title">相关推荐</div>
        <div class="content">

          <a class="fashionTwo clearfix" href="big-Forum-details.html">
            <div class="left fl">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌</div>
              <div class="time clearfix">
                <span class="fl">12-04</span>
              </div>
            </div>
            <div class="right fr">
              <img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
              <div class="tag">第5期</div>
              <div class="tag2">表友论</div>
            </div>
          </a>
          <a class="fashionTwo clearfix" href="big-Forum-details.html">
            <div class="left fl">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌</div>
              <div class="time clearfix">
                <span class="fl">12-04</span>
              </div>
            </div>
            <div class="right fr">
              <img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
              <div class="tag">第5期</div>
              <div class="tag2">表友论</div>
            </div>
          </a>
          <a class="fashionTwo clearfix" href="big-Forum-details.html">
            <div class="left fl">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌</div>
              <div class="time clearfix">
                <span class="fl">12-04</span>
              </div>
            </div>
            <div class="right fr">
              <img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
              <div class="tag">第5期</div>
              <div class="tag2">表友论</div>
            </div>
          </a>

        </div>
      </div>
      <!-------------- 评论 ------------>
      <div class="comment">
        <div class="title">评论</div>
        <div class="content">
          <li class="clearfix">
            <div class="left fl"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt=""></div>
            <div class="right">
              <div class="name">
                <p class="name-a">小鲜肉</p>
                <p class="name-b">4小时前</p>
                <div class="fabulous">
                  <span class="ico"></span>
                  <span class="text">30</span>
                </div>
              </div>
              <div class="version">
                手表保养哪些地方，手表保养哪些地方，手表保养哪些地方，手表保养哪些地方...<span class="delete">删除</span>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="left fl"><img src="//image7.wbiao.co/mall/c6f139275bda425d80ec1ec710701533.jpg" alt=""></div>
            <div class="right">
              <div class="name">
                <p class="name-a">小鲜肉</p>
                <p class="name-b">4小时前</p>
                <div class="fabulous">
                  <span class="ico"></span>
                  <span class="text">30</span>
                </div>
              </div>
              <div class="version">
                手表保养哪些地方，手表保养哪些地方，手表保养哪些地方，手表保养哪些地方...
              </div>
            </div>
          </li>
        </div>
        <div class="footer">我也是有底线的</div>
      </div>
      <!-------------- 评论输入框 ------------>
      <div class="comment-input clearfix">
        <div class="left fl">
          <input type="text">
        </div>
        <div class="right fl">
          <li class="fl collection">
            <div class="ico"></div>
            <div class="text">收藏</div>
          </li>
          <li class="fl share">
            <div class="ico"><img src="../../images/article-details-share.png"></div>
            <div class="text">分享</div>
          </li>
        </div>
        <div class="rightButton fl h">发表评论</div>
      </div>

    </div>
    <!-------------- 向上滑动 ------------>
    <div class="to_top">
      <img src="../../images/article-details-top.png">
    </div>
    <!-------------- 分享 ------------>
    <div class="share-to h">
      <div class="share-bj"></div>
      <div class="share-content">
        <div class="icon">
          <ul class="clearfix">
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-sina.png"></i>
                <em>新浪微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-tencent.png"></i>
                <em>腾讯微博</em>
              </a>
            </li>
            <li class="fl">
              <a href="javascript:void(0);">
                <i class="icon-a-sina"><img src="../../images/share-qzone.png"></i>
                <em>QQ空间</em>
              </a>
            </li>
          </ul>
          <span class="share_button"><img src="../../images/share-delete.png"></span>
        </div>
      </div>
    </div>
    <!-------------- 分享 ------------>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/article"></script>
</html>
