<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/swiper/3.4.2/swiper.css" />
  <link rel="stylesheet" href="../../css/index.css" />
  <body>
  <main>
    <!-------------- head ------------>
    <div class="head" id="head"></div>

    <!-------------- 时尚穿搭 fashion为第一种样式，当第一种样式图片多于一张时，加多一个类名fashionStyle   fashionTwo为第二种样式------------>
    <a class="fashion" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">12-04</span>
      </div>
    </a>

    <a class="fashion" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">12-04</span>
      </div>
    </a>

    <a class="fashion" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">12-04</span>
      </div>
    </a>

    <!-------------- 底部按钮 ------------>
    <div class="footer clearfix" id="footer"></div>
  	  
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/index"></script>
</html>
