<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/swiper/3.4.2/swiper.css" />
  <link rel="stylesheet" href="../../css/index.css" />
  <link rel="stylesheet" href="../../sprite/css/sprite.css" />
  <body>
  <main>
    <!-------------- head ------------>
    <div class="head" id="head"></div>
    <!-------------- 轮播图 ------------>
		<div class="banner">
			<div class="swiper-container-banner">
				<div class="swiper-wrapper">
					<a class="swiper-slide">
            <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/952137fd0ec146c8b0a6435528ea9ecf.jpg" alt="" />
            <div class="text">浪琴表185周年时计巡展登陆福州</div>
          </a>
					<a class="swiper-slide">
            <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/cc53659426eb4ef0980f115680d24211.jpg" alt="" />
            <div class="text">浪琴表185周年时计巡展登陆福州</div>
          </a>
					<a class="swiper-slide">
            <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/acb409c5526947e0ac9dd84c8e13d2dc.png" alt="" />
            <div class="text">浪琴表185周年时计巡展登陆福州</div>
          </a>
					<a class="swiper-slide">
            <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/acb409c5526947e0ac9dd84c8e13d2dc.png" alt="" />
            <div class="text">浪琴表185周年时计巡展登陆福州</div>
          </a>
        </div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination page"></div>
		</div>
    <!-------------- 广告图 ------------>
    <a class="advertisement">
      <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
    </a>
    <!-------------- 模块一 ------------>
    <div class="modular clearfix">
      <a class="fl" href="big-Forum.html">
        <div class="img">
          <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
          <div class="tag2">第25课堂</div>
          <div class="tag">大讲堂</div>
        </div>
        <div class="title">表由那几部分组成？</div>
      </a>
      <a class="fl" href="comment.html">
        <div class="img">
          <img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt="">
          <div class="tag2">第20期</div>
          <div class="tag">表友论</div>
        </div>
        <div class="title">浪琴的哪一款好？大神解疑</div>
      </a>
    </div>
    <!-------------- 时尚穿搭 fashion为第一种样式，当第一种样式图片多于一张时，加多一个类名fashionStyle   fashionTwo为第二种样式------------>
    <a class="fashion" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">时尚穿搭</span>
        <span class="fr">12-04</span>
      </div>
    </a>
    <a class="fashionTwo clearfix" href="article-details.html">
      <div class="left fl">
        <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
        <div class="time clearfix">
          <span class="fl">时尚穿搭</span>
          <span class="fr">12-04</span>
        </div>
      </div>
      <div class="right fr"><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></div>
    </a>
    <a class="fashion" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">时尚穿搭</span>
        <span class="fr">12-04</span>
      </div>
    </a>
    <a class="fashion fashionStyle" href="article-details.html">
      <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
      <div class="img clearfix">
        <li><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
        <li><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
        <li><img src="../../images/fix-b.png" data-wpl="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
      </div>
      <div class="time clearfix">
        <span class="fl">时尚穿搭</span>
        <span class="fr">12-04</span>
      </div>
    </a>

    <!-------------- 底部按钮 ------------>
    <div class="footer clearfix" id="footer"></div>
  	  
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/index"></script>
</html>
