<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/search.css" />
  <body>
  <main>
    <div class="search search-list">

      <div class="title clearfix">
        <div class="input fl">
          <input type="text" placeholder="请输入搜索内容" class="search-input">
          <div class="ico"><img src="../../images/index-search.png"></div>
          <div class="search-ico h"><img src="../../images/search-delete.png"></div>
        </div>
        <a class="text fl" href="javascript:window.history.back();">取消</a>
      </div>
      <!-------------- 有历史内容 ------------>
      <div class="tab">
        <div class="tabTitle">
          <li class="on">全部</li>
          <li>文章</li>
          <li>腕表</li>
        </div>
        <div class="tabContent">
          <!-------------- 全部 ------------>
          <div class="list">
            <a class="fashion" href="../index/article-details.html">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
              <div class="img clearfix">
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
              </div>
              <div class="time clearfix">
                <span class="fl">时尚穿搭</span>
                <span class="fr">12-04</span>
              </div>
            </a>
            <a class="fashionTwo clearfix" href="../index/article-details.html">
              <div class="left fl">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
              <div class="right fr"><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></div>
            </a>
            <a class="fashion fashionStyle" href="../index/article-details.html">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
              <div class="img clearfix">
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
              </div>
              <div class="time clearfix">
                <span class="fl">时尚穿搭</span>
                <span class="fr">12-04</span>
              </div>
            </a>
            <div class="list-product clearfix">
              <a href="../choice-list/goods-details.html">
                <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
                <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
                <div class="price">￥32,880</div>
              </a>
              <a href="../choice-list/goods-details.html">
                <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
                <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
                <div class="price">￥32,880</div>
              </a>
              <a href="../choice-list/goods-details.html">
                <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
                <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
                <div class="price">￥32,880</div>
              </a>
              <a href="../choice-list/goods-details.html">
                <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
                <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
                <div class="price">￥32,880</div>
              </a>
            </div>
            <!-------------- 没有内容 ------------>
            <div class="no-content h">
              <div class="ico"><img src="../../images/search-no.png"></div>
              <div class="text">暂无相关结果<br>换个描述试试！</div>
            </div>
          </div>
          <!-------------- 文章 ------------>
          <div class="list h">
            <a class="fashion" href="../index/article-details.html">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
              <div class="img clearfix">
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
              </div>
              <div class="time clearfix">
                <span class="fl">时尚穿搭</span>
                <span class="fr">12-04</span>
              </div>
            </a>
            <a class="fashionTwo clearfix" href="../index/article-details.html">
              <div class="left fl">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
              <div class="right fr"><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></div>
            </a>
            <a class="fashion fashionStyle" href="../index/article-details.html">
              <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
              <div class="img clearfix">
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
              </div>
              <div class="time clearfix">
                <span class="fl">时尚穿搭</span>
                <span class="fr">12-04</span>
              </div>
            </a>
            <!-------------- 没有内容 ------------>
            <div class="no-content h">
              <div class="ico"><img src="../../images/search-no.png"></div>
              <div class="text">暂无相关结果<br>换个描述试试！</div>
            </div>
          </div>
          <!-------------- 腕表 ------------>
          <div class="list list-product clearfix h">
            <a href="../choice-list/goods-details.html">
              <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
              <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
              <div class="price">￥32,880</div>
            </a>
            <a href="../choice-list/goods-details.html">
              <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
              <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
              <div class="price">￥32,880</div>
            </a>
            <a href="../choice-list/goods-details.html">
              <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
              <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
              <div class="price">￥32,880</div>
            </a>
            <a href="../choice-list/goods-details.html">
              <div class="img"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg"></div>
              <div class="title">帝舵（TUDOR）-启承系列79733N-72063 </div>
              <div class="price">￥32,880</div>
            </a>
            <!-------------- 没有内容 ------------>
            <div class="no-content h">
              <div class="ico"><img src="../../images/search-no.png"></div>
              <div class="text">暂无相关结果<br>换个描述试试！</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/search"></script>
</html>
