<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/member.css" />
  <body>
  <main class="member-collection-main">
    <div class="member-collection">

      <div class="title">
        <div class="title-a">我的收藏</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
        <div class="title-text h" id="cancel">取消</div>
        <div class="title-ico2" id="edit">编辑</div>
        <div class="title-ico2 h" id="select">全选</div>
        <div class="title-ico2 h" id="no-select">取消全选</div>
      </div>
      <div class="container">
        <div class="title tab-title">
          <li class="on">全部</li>
          <li>文章</li>
          <li>发现</li>
          <li>腕表</li>
        </div>
        <div class="content tab-content">
          <!--------------------全部-------------------->
          <div class="list whole">
            <a class="list-li fashion">
              <div class="choice h"></div>
              <div class="page">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="img clearfix">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
            </a>
            <a class="list-li fashionTwo clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="left fl">
                  <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                  <div class="time clearfix">
                    <span class="fl">时尚穿搭</span>
                    <span class="fr">12-04</span>
                  </div>
                </div>
                <div class="right fr"><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></div>
              </div>
            </a>
            <a class="list-li fashion fashionStyle">
              <div class="choice h"></div>
              <div class="page">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="img clearfix">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
            </a>
            <div class="list-li whole-discover clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="title clearfix">
                  <div class="title-a fl">新品</div>
                  <div class="title-b fl">3个小时前</div>
                </div>
                <a class="content" href="discovery-details.html">
                  精工Prospex SSC673P潜水计时码表实拍；这是精工今年“黑色系列”的其中一款。腕表采用43.5mm的表
                  壳，旋入式表冠以及全黑表壳，黑色铝合金表圈镶嵌在全黑表壳中，再配以橙边白色的时针。腕表功能：计时
                  再配以橙边白色的时针腕表功能：计时
                </a>
                <div class="clearfix img img2">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="comment clearfix">
                  <a class="clearfix fabulous">
                    <div class="ico fl"></div>
                    <div class="text fl">赞</div>
                  </a>
                  <a class="clearfix" href="discovery-details.html">
                    <div class="ico fl"><img src="../../images/discovery-1.png"></div>
                    <div class="text fl">评论</div>
                  </a>
                </div>
              </div>
            </div>
            <a class="list-li whole-surface clearfix">
              <div class="choice h"></div>
              <div class="img fl"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg" alt=""></div>
              <div class="title">
                <p class="p1">劳力士潜航者型116610lv-97200绿盘</p>
                <p class="p2">¥45000</p>
              </div>
            </a>
            <div class="button h">删除</div>
          </div>
          <!--------------------文章-------------------->
          <div class="list news h">
            <a class="list-li fashion">
              <div class="choice h"></div>
              <div class="page">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="img clearfix">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
            </a>
            <a class="list-li fashionTwo clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="left fl">
                  <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                  <div class="time clearfix">
                    <span class="fl">时尚穿搭</span>
                    <span class="fr">12-04</span>
                  </div>
                </div>
                <div class="right fr"><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></div>
              </div>
            </a>
            <a class="list-li fashion fashionStyle">
              <div class="choice h"></div>
              <div class="page">
                <div class="title">嫌麻烦的话，就别想着玩二手劳力士了啊，二手劳力士不是怕嫌麻烦的人来做的？</div>
                <div class="img clearfix">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="time clearfix">
                  <span class="fl">时尚穿搭</span>
                  <span class="fr">12-04</span>
                </div>
              </div>
            </a>
            <div class="button h">删除</div>
          </div>
          <!--------------------发现-------------------->
          <div class="list discover h">
            <div class="list-li whole-discover clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="title clearfix">
                  <div class="title-a fl">新品</div>
                  <div class="title-b fl">3个小时前</div>
                </div>
                <a class="content" href="discovery-details.html">
                  精工Prospex SSC673P潜水计时码表实拍；这是精工今年“黑色系列”的其中一款。腕表采用43.5mm的表
                  壳，旋入式表冠以及全黑表壳，黑色铝合金表圈镶嵌在全黑表壳中，再配以橙边白色的时针。腕表功能：计时
                  再配以橙边白色的时针腕表功能：计时
                </a>
                <div class="clearfix img img2">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="comment clearfix">
                  <a class="clearfix fabulous">
                    <div class="ico fl"></div>
                    <div class="text fl">赞</div>
                  </a>
                  <a class="clearfix" href="discovery-details.html">
                    <div class="ico fl"><img src="../../images/discovery-1.png"></div>
                    <div class="text fl">评论</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="list-li whole-discover clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="title clearfix">
                  <div class="title-a fl">新品</div>
                  <div class="title-b fl">3个小时前</div>
                </div>
                <a class="content" href="discovery-details.html">
                  精工Prospex SSC673P潜水计时码表实拍；这是精工今年“黑色系列”的其中一款。腕表采用43.5mm的表
                  壳，旋入式表冠以及全黑表壳，黑色铝合金表圈镶嵌在全黑表壳中，再配以橙边白色的时针。腕表功能：计时
                  再配以橙边白色的时针腕表功能：计时
                </a>
                <div class="clearfix img img2">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="comment clearfix">
                  <a class="clearfix fabulous">
                    <div class="ico fl"></div>
                    <div class="text fl">赞</div>
                  </a>
                  <a class="clearfix" href="discovery-details.html">
                    <div class="ico fl"><img src="../../images/discovery-1.png"></div>
                    <div class="text fl">评论</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="list-li whole-discover clearfix">
              <div class="choice h"></div>
              <div class="page">
                <div class="title clearfix">
                  <div class="title-a fl">新品</div>
                  <div class="title-b fl">3个小时前</div>
                </div>
                <a class="content" href="discovery-details.html">
                  精工Prospex SSC673P潜水计时码表实拍；这是精工今年“黑色系列”的其中一款。腕表采用43.5mm的表
                  壳，旋入式表冠以及全黑表壳，黑色铝合金表圈镶嵌在全黑表壳中，再配以橙边白色的时针。腕表功能：计时
                  再配以橙边白色的时针腕表功能：计时
                </a>
                <div class="clearfix img img2">
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                  <li><img src="//image7.wbiao.co/mall/d3ee35800a814568a241f66d73b2d0e3.jpg" alt=""></li>
                </div>
                <div class="comment clearfix">
                  <a class="clearfix fabulous">
                    <div class="ico fl"></div>
                    <div class="text fl">赞</div>
                  </a>
                  <a class="clearfix" href="discovery-details.html">
                    <div class="ico fl"><img src="../../images/discovery-1.png"></div>
                    <div class="text fl">评论</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="button h">删除</div>
          </div>
          <!--------------------腕表-------------------->
          <div class="list surface h">
            <a class="list-li whole-surface clearfix">
              <div class="choice h"></div>
              <div class="img fl"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg" alt=""></div>
              <div class="title">
                <p class="p1">劳力士潜航者型116610lv-97200绿盘</p>
                <p class="p2">¥45000</p>
              </div>
            </a>
            <a class="list-li whole-surface clearfix">
              <div class="choice h"></div>
              <div class="img fl"><img src="//image7.wbiao.co/shop/201708_31_3195_1CS_AR_40822.jpg" alt=""></div>
              <div class="title">
                <p class="p1">劳力士潜航者型116610lv-97200绿盘</p>
                <p class="p2">¥45000</p>
              </div>
            </a>
            <div class="button h">删除</div>
          </div>

        </div>
      </div>

    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/member"></script>
</html>
