<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/member.css" />
  <body>
  <main>
    <div class="member-index">
      <!-------------- 未登录 ------------>
      <a class="head h">
        <div class="button">登陆</div>
        <div class="text">登录可评论／收藏文章</div>
      </a>
      <!-------------- 登录 ------------>
      <div class="head head2">
        <div class="logo"><img src="../../images/member-name.png"></div>
        <div class="name">默认昵称</div>
      </div>
      <!-------------- list ------------>
      <div class="content">
        <a class="clearfix" href="collection.html">
          <div class="ico fl"><img src="../../images/article-details-collection.png"></div>
          <div class="text fl">我的收藏</div>
          <div class="arrow fr"></div>
        </a>
        <a class="clearfix" href="news.html">
          <div class="ico fl"><img src="../../images/member-news.png"></div>
          <div class="text fl">消息<span class="spot"></span></div>
          <div class="arrow fr"></div>
        </a>
        <a class="clearfix" href="opinion.html">
          <div class="ico fl"><img src="../../images/member-opinion.png"></div>
          <div class="text fl">意见反馈</div>
          <div class="arrow fr"></div>
        </a>
        <a class="clearfix" href="rewrite.html">
          <div class="ico fl"><img src="../../images/member-set.png"></div>
          <div class="text fl">设置</div>
          <div class="arrow fr"></div>
        </a>
      </div>
    </div>
    <!-------------- 底部按钮 ------------>
    <div class="footer clearfix">
      <a href="/WBworld/view/index/index.html">
        <div class="img"><img src="../../images/index-home2.png"></div>
        <div class="text">首页</div>
      </a>
      <a href="/WBworld/view/discovery/discovery.html">
        <div class="img"><img src="../../images/index-discovery2.png"></div>
        <div class="text">发现</div>
      </a>
      <a>
        <div class="img"><img src="../../images/index-choice2.png"></div>
        <div class="text">选表</div>
      </a>
      <a>
        <div class="img"><img src="../../images/index-member.png"></div>
        <div class="text on">我的</div>
      </a>
    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/member"></script>
</html>
