<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/member.css" />
  <body>
  <main class="member-opinion-main">
    <div class="member-opinion">

      <div class="title">
        <div class="title-a">意见反馈</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
        <div class="title-ico2" id="give">发送</div>
      </div>

      <div class="content">
        <div class="proposal">
          <textarea placeholder="请输入您的建议" id="proposal"></textarea>
        </div>
        <div class="input">
          <input type="text" placeholder="请输入QQ、邮箱或手机等联系方式" id="input">
        </div>
        <div class="text">您的联系方式有助于我们沟通和解决问题，仅工作人员可见</div>
      </div>

    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/member"></script>
</html>
