<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
  </head>
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/mui/3.7.1/mui.min.css">
  <link rel="stylesheet" href="../../css/member.css" />
  <body>
  <main>
    <div class="member-rewrite">

      <div class="title">
        <div class="title-a">设置</div>
        <a href="javascript:window.history.back();" class="title-ico"><img src="../../images/index-symbols2.png"></a>
      </div>
      <div class="content">
        <a class="clearfix cache h">
          <div class="ico fl"><img src="../../images/member-cun.png"></div>
          <div class="text fl">清理缓存</div>
          <div class="arrow fr arrow2">30M</div>
        </a>
        <a class="clearfix user">
          <div class="ico fl"><img src="../../images/member-head.png"></div>
          <div class="text fl">关于我们</div>
          <div class="arrow fr"></div>
        </a>
        <a class="clearfix score h">
          <div class="ico fl"><img src="../../images/member-lover.png"></div>
          <div class="text fl">打分评分</div>
          <div class="arrow fr"></div>
        </a>
      </div>
      <div class="button">退出登录</div>


    </div>
  </main>
  </body>
  <script src="../../js/require.js" type="text/javascript" data-main="../../js/member"></script>
</html>
